version: '3'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.backend
  db:
    image: postgres
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password